@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p class="lead">MyPOS est un logiciel de caisse simple vous permattant d'effectuer vos transactions et de gérer vos articles, vos employés et bien plus encore... </p>
<p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
