

@{
    ViewBag.Title = "Index";
}

<h2>Gestion</h2>
<p>
    @Html.ActionLink("Back to Home", "Index", "Home")
</p>

<div class="row">
    <div class="col-md-4">
        <h4>Gérer les utilisateurs</h4>
        <a class="btn btn-primary" href="" role="button">Utilisateurs</a>
    </div>
    <div class="col-md-4">
        <h4>Gérer les rôles</h4>
        <a class="btn btn-primary" href="~/Roles/Index" role="button">Rôles</a>
    </div>
    <div class="col-md-4">
        <h4>Gérer les magasins</h4>
        <a class="btn btn-primary" href="" role="button">Magasins</a>
    </div>
    <div class="col-md-4">
        <h4>Gérer les contacts</h4>
        <a class="btn btn-primary" href="" role="button">Contacts</a>
    </div>
    <div class="col-md-4">
        <h4>Gérer les marques</h4>
        <a class="btn btn-primary" href="~/Brands/Index" role="button">Marques</a>
    </div>
    <div class="col-md-4">
        <h4>Gérer les âges</h4>
        <a class="btn btn-primary" href="" role="button">Ages</a>
    </div>
    <div class="col-md-4">
        <h4>Gérer les héros</h4>
        <a class="btn btn-primary" href="" role="button">Héros</a>
    </div>
    <div class="col-md-4">
        <h4>Gérer les terminaux</h4>
        <a class="btn btn-primary" href="" role="button">Terminaux</a>
    </div>
    <div class="col-md-4">
        <h4>Gérer les taux de TVA</h4>
        <a class="btn btn-primary" href="" role="button">TVA</a>
    </div>
    <div class="col-md-4">
        <h4>Gérer les langues</h4>
        <a class="btn btn-primary" href="~/Languages/Index" role="button">Langues</a>
    </div>
    <div class="col-md-4">
        <h4>Gérer les catégories</h4>
        <a class="btn btn-primary" href="" role="button">Catégories</a>
    </div>
    <div class="col-md-4">
        <h4>Gérer les clients</h4>
        <a class="btn btn-primary" href="" role="button">Clients</a>
    </div>
</div>
